body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green {
  color: #11d811;
}

.red {
  color: red;
}

img {
  width: 25px;
  margin-right: 10px;
  height: 25px;
}

.coin {
  margin: 10px auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #dee2e6;
  width: 900px;
}

.left-side {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 250px;
  width: 100%;
}

h1 {
  font-size: 15px;
  width: 150px;
}

.symbol {
  text-transform: uppercase;
  margin-left: 20%;
  font-size: 14px;
}

.search {
  margin: 40px;
  padding: 10px 0px 10px 15px;
  border-radius: 30px;
  border: 1px solid #dee2e6;
  min-width: 200px;
}

.search:focus {
  outline: none;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.navbar {
  background-color: #dcdcdc;
  width: 100%;
  text-align: center;
}

.navbar h2 {
  color: #cc0066;
  padding: 10px;
}
